<header>Show a Video</header>
<h2 class="title-container">{{video.title}}</h2>
<div id="videos-container" class="contents-container">
    <div class="video-card">
      <div class="video-player">
          <iframe class="video-player" src="{{video.videoUrl}}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="video-title">
        <div id="description">{{video.description}}</div>
      </div>
      <button><a id="btnEdit" href="/videos/{{video._id}}/edit">Edit</a></button>
      <form method="post" action="/videos/{{video._id}}/deletions">
      	<button id="btnDelete" value="Delete"></button>
      </form>
    </div>
</div>